.App {
  text-align: center;
}
.d-flex py-2 {
  text-align: center;
}
.container py-4
.studentdat, table, td,th {
  border: red;
}

.top {
  border-color: aqua;
}
table, td, th {  
  border: 1px solid rgb(59, 29, 168);
  text-align: center;
  
}
th {
  background-color: blue;
  color: #ddd;
}



table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 5px;
}
.report {
  height: 250px;
  border: 2px solid blue;
  background-color: none;
  

}
.center{
  text-align: center;
}

#top1 {
  border: none;
}



